@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  min-height: 80vh;
  background: linear-gradient(135deg, #36214f, #2b0a3d, #301a3f);
  color: white; 
}

/* LOGIN / REGISTER */
.auth-container {
  max-width: 600px;
  margin: 100px auto;
  padding: 50px;
  border-radius: 16px;
  background: linear-gradient(145deg, #2a0540);
  box-shadow: 0 0 40px rgba(186, 85, 255, 0.4);
  text-align: center;
}

.auth-container h2 {
  font-size: 30px;
  margin-bottom: 10px;
  letter-spacing: 2px;
  padding-bottom: 20px;
}

p{
  padding-top: 22px;
  font-size: 17px;
}


.auth-container input {
  width: 100%;
  padding: 18px;
  margin-bottom: 20px;
  border-radius: 30px;
  border: none;
  outline: none;
  background: #1c002e;
  color: white;
  padding-left: 18px;
}

.auth-container input::placeholder {
  color: #aaa;
}

.auth-container button {
  width: 90%;
  padding: 12px;
  border-radius: 30px;
  border: none;
  background: linear-gradient(135deg, #ff00ff, #8b00ff);
  color: white;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s;
}

.auth-container button:hover {
  transform: scale(1.05);
  box-shadow: 0 0 15px #ff00ff;
}

.auth-container span {
  color: #ff4fff;
  cursor: pointer;
}


.task-manager {
  max-width: 600px;
  margin: 50px auto;
  padding: 55px;
  border-radius: 20px;
  background: linear-gradient(145deg, #2a0540, #482760);
  box-shadow: 0 0 50px rgba(186, 85, 255, 0.35);
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 35px;
}

.header h2 {
  font-size: 30px;
  letter-spacing: 3px;
}


.header button {
  margin-left: 10px;
  padding: 8px 14px;
  border-radius: 50%;
  border: none;
  background: linear-gradient(135deg, #ff00ff, #8b00ff);
  color: white;
  cursor: pointer;
}

ul {
  list-style: none;
}

li {
  background: linear-gradient(135deg, #24002f, #3c0460);
  padding: 10px 16px;
  border-radius: 35px;
  margin-bottom: 14px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 0 20px rgba(255, 0, 255, 0.25);
}

li strong {
  font-size: 16px;
}

li p {
  display: none;
}

li button {
  border-radius: 50%;
  width: 36px;
  height: 36px;
  border: none;
  background: linear-gradient(135deg, #ff00ff, #8b00ff);
  color: white;
  cursor: pointer;
  margin-left: 6px;
  box-shadow: 0 0 15px rgba(255, 0, 255, 0.6);
}

li button:last-child {
  background: linear-gradient(135deg, #ff0040, #ff0080);
}

.task-manager > button {
  width: 100%;
  margin-top: 30px;
  padding: 14px;
  border-radius: 40px;
  border: none;
  font-size: 16px;
  background: linear-gradient(135deg, #ff00ff, #8b00ff);
  color: white;
  cursor: pointer;
  box-shadow: 0 0 25px rgba(255, 0, 255, 0.7);
}

.task-form-container {
  position: fixed;
  inset: 0;
  background: rgba(90, 67, 96, 0.85);
  display: flex;
  justify-content: center;
  align-items: center;
}

.task-form-container form {
  background: linear-gradient(135deg, #ff00ff, #8b00ff);
  padding: 30px;
  width: 90%;
  max-width: 400px;
  border-radius: 20px;
  box-shadow: 0 0 40px rgba(186, 85, 255, 0.5);
}

.task-form-container input,
.task-form-container textarea {
  width: 100%;
  padding: 12px;
  margin-bottom: 15px;
  border-radius: 30px;
  border: none;
  outline: none;
  background: #cc89f6;
  color: rgb(29, 25, 25);
  padding-left: 18px;
}


.task-manager.light {
  background: rgb(184, 200, 202);
  color: black;
}

.task-manager.dark {
  background: rgba(90, 67, 96, 0.85);
  color: white;
}

.header button {
  margin: 5px;
  padding: 6px 12px;
}



.task-form-container input::placeholder,
.task-form-container textarea::placeholder {
  color: white;
}

.task-form-container textarea {
  height: 90px;
  resize: none;
}

.task-form-container button {
  width: 48%;
  padding: 12px;
  border-radius: 30px;
  border: none;
  background: linear-gradient(135deg, #ff00ff, #8b00ff);
  color: white;
  cursor: pointer;
}

.task-form-container button:last-child {
    background: linear-gradient(135deg, #ff00ff, #8b00ff);}

.completed {
  text-decoration: line-through;
  opacity: 0.6;
}


@media (max-width: 480px) {

  body {
    min-height: 100vh;
  }

  .auth-container {
    width: 90%;
    margin: 40px auto;
    padding: 25px;
  }

  .auth-container h2 {
    font-size: 22px;
  }

  .auth-container input {
    padding: 14px;
    font-size: 14px;
  }

  .auth-container button {
    width: 100%;
    padding: 12px;
    font-size: 14px;
  }

  .task-manager {
    width: 90%;
    padding: 25px;
  }

  .header {
    flex-direction: column;
    gap: 10px;
  }

  .header h2 {
    font-size: 22px;
    text-align: center;
  }

  .header button {
    width: 40px;
    height: 40px;
  }

  li {
    flex-direction: column;
    align-items: flex-start;
    padding: 14px;
  }

  li strong {
    font-size: 14px;
    margin-bottom: 8px;
  }

  li button {
    margin-top: 8px;
  }

  .task-manager > button {
    padding: 12px;
    font-size: 14px;
  }

  .task-form-container form {
    width: 95%;
    padding: 20px;
  }

  .task-form-container input,
  .task-form-container textarea {
    padding: 10px;
    font-size: 14px;
  }

  .task-form-container button {
    width: 100%;
    margin-bottom: 10px;
  }
}